.display{
    display: flex;
    justify-content: space-around;
}

.form{
    background-color: #fff;
    width: 35%;
    padding: 30px 0px 50px 0px;
    margin: 60px;
    border-radius: 25px;
    box-shadow: 0px 5px 52px -3px #2ef71fa2;
}

.form label{
    color: #252525;
    font-size: 15px;
    font-weight: 500;
    display: none;
}

.form p{
    font-size: 17px;
    color: #252525;
    font-weight: 500;
    margin: 20px 45px;
    text-align: left;
}

.errors{
    font-size: 12px !important;
    color: rgb(250, 29, 29) !important;
}

.form h1{
    padding: 0px 0px 20px;
    color: #252525;
    font-weight: 800;
    margin: 20px 45px;
    text-align: left;
}

.form input{
    width: 85%;
    height: 50px;
    display: inline-block;
    font-size: 1em;
    color: #252525;
    font-weight: bold;
    padding: 0px 10px;
    border-radius: 10px;
    border: 0.125em solid #5f697d;
}

.button{
    background-color: #252525;
    color: #ffff !important;
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    outline: none;
    font-size: .9rem;
    transition: all .3s ease-in-out;
    font-weight: 500 !important;
    border: 2px solid #252525 !important;
    letter-spacing: 1px;
    border-radius: 5px;
}

.button:hover{
    box-shadow: rgba(0, 0, 0, 0.521) 2px 2px 3px;
    transition: box-shadow 0.2s ease-in-out 0s;
}

.display img{
    width: 570px;
}