.search input{
    background-color: #fff;
    border: none;
    width: 30%;
    margin: 30px;
    height: 2rem;
    border-radius: 5px;
    font-size: 17px;
    color: #252525;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.search input:focus{
    border: none;
    outline: none;
}

.search button{
    background-color: rgb(255, 255, 255);
    color: #252525;
    cursor: pointer;
    padding: 8px 18px;
    display: inline-block;
    outline: none;
    font-size: .9rem;
    transition: all .3s ease-in-out;
    font-weight: 600;
    border: 2px solid rgb(255, 255, 255);
    letter-spacing: 1px;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.search button:hover{
    box-shadow: 2px 2px 3px rgb(30, 223, 78);
    transition: 0.2s ease-in-out 0s;
}